@{
    ViewData["Title"] = "Home Page";
}
 
<div id="snapshot">
    {{ message }}
    <ul>
    <li v-for="(account, index) in accounts">
        <br /><input v-model="account.nickname"><input v-model="account.balance">{{account.currency}}<br />
        <button v-on:click="remove(index)">Remove</button>
    </li>
    </ul>
    <button v-on:click="Add">Another account?</button>
    <br/>
    <button v-on:click="postSnapshot">Validate</button>
</div>

<script>
    var app = new Vue({
        el: '#snapshot',
        data: {
            message: 'Hi, add an account',
            accounts : [{
                nickname: 'Give it a name',
                balance: 'Current amount of money',
                currency: 'czk'
            }]},
        methods: {
            Add: function () {
                this.accounts.push({ nickname: "new account", balance: "amount", currency: "czk"  });
            },
            remove: function (index) {
                this.accounts.splice(index, 1);
            },
            postSnapshot: function () {
                
                var snapshot = {
                    accounts: this.accounts,
                    expenses: { total: 0 },
                    goals: [],
                    emergency: { actualamount: 0, minimum: 0, maximum: 0 }
                };

                console.log(JSON.stringify(snapshot));

                $.ajax({
                    type: "POST",
                    url: "Home/PostSnapshot",
                    data: JSON.stringify(snapshot),
                    headers: { 
                        'Accept': 'application/json',
                        'Content-Type': 'application/json' 
                    },
                    success: function(response) {
                        console.log(response);
                    }
                });
            }
        }
    })
</script>

